<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="B.E.E._calculator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <B.E.E._calculator.Properties.Settings>
            <setting name="connection_string" serializeAs="String">
                <value>Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename="C:\Users\FoxBD\source\repos\B.E.E. calculator\B.E.E. calculator\db.mdf";Integrated Security=True</value>
            </setting>
        </B.E.E._calculator.Properties.Settings>
    </userSettings>
</configuration>